body {
    margin: 0;
    background: #070808;
    color: white;
    font-family: Arial, sans-serif;
}

.hero {
    min-height: 75vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    color: #37db04;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    color: #d1d5db;
}

.btn {
    margin-top: 20px;
    padding: 12px 24px;
    background: #00d4ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #7c3aed;
    color: white;
}

section {
    padding: 60px 10%;
}
